$titulos-secoes:'Oswald', sans-serif;
$paragrafos: 'Open Sans', sans-serif;

@mixin titulos-padrao {
    font-family: $titulos-secoes;
    text-transform: uppercase;
    border-bottom: solid;
    color: #01c0b5;
    margin:  0 auto;
    font-weight: 200;
    width: 150px;
    font-size: 25px;
    padding: 10px;            
    
}
@mixin paragrafos-padrao {
    font-family: $paragrafos;
    font-weight: 600;
    text-transform: inherit;
    color: #2c3e50;
    font-size: 16px;
    padding: 10px;

}


*{
    margin: 0;
    border: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}

.fundo-banner-equipe{
    background-color: rgba($color: #fff, $alpha: .9);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    display: none;

    

    #frame{
        width: 60%;
        height: 100%;
        margin: 0 20%;      
    }   
}


.fundo-banner-equipe-fundo{
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;

    .top-close{
        width: 100%;
        position: fixed;
        background-color: #fff;
        padding: 5px;
        font-size: 40px;
        cursor: pointer;
    }

    .nome-membro-equipe{
        font-family: $titulos-secoes;
        color: #2c3e50;
        font-size: 33px;
        // font-stretch: ultra-condensed;
        margin: 30px 0 0 0;
        text-transform: uppercase;

    }

    .proficao{
        font-family: $titulos-secoes;
        text-transform: uppercase;
        color: #01c0b5;
        font-size: 28px;
        margin: 10px;

    }


    .box-interno-banner-equipe{
    width: 100%;
    margin-top: 120px;

        .conteudo-principal-banner-equipe{           
            border-top: #01c0b5 solid 1px;;
            display: grid;
            grid-template-columns: 40% 60%;
            box-sizing: border-box;

            .foto-e-social{
                margin: 30px 30px 0 0;

                figure{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 220px;
                    }
                }
                li{
                    list-style: none;
                }
            }


            .curriculo{
                text-align: left;
                list-style: none;
                padding: 30px 20px 0 0;

                .titulo-curriculo{
                    @include titulos-padrao; 
                    margin: 0 !important;
                    padding: 10px 0 10px 0;
                    width: 100%;
                    margin-bottom: 10px;
                    border-bottom: 1px solid;
                }              

                p{   
                    font-family: $paragrafos;
                    color: #7b838c;
                    font-size: 18px;
                    font-weight: none;
                }

                li{
                    list-style: none;
                    margin: 10px 0;
                }



                .experiencia{
                    p{
                        font-family: $paragrafos;
                        color: #7b838c;
                        font-size: 19px;
                        font-weight: none;
                    }
                }
                .habilidades{

                    .habilidade-titulo{
                        @include titulos-padrao; 
                    margin: 0;
                    width: 100%;
                    margin-bottom: 10px;
                    border-bottom: 1px solid;
                    }
                    .habilidade-nome{
                        @include paragrafos-padrao();
                        font-size: 20px;
                        margin: 0;
                        width: 100%;
                        margin-bottom: 10px;
                        border-bottom: 1px solid;
                        padding: 10px 0 10px 0;

                        .porcentagem{
                            float: right;
                        }
                    }

                    .tarja-completa-borda{
                        width: 100%;
                        border: solid 2px #2c3e50;
                        .tarja-conhecimento-prcentagem{
                            width: 60%;
                            height: 10px;
                            background-color: #01c0b5;
                        }
                    }

                    
                }

            }

        }
    }

}


















.cabecario{
    height: 600px;
    background: url(../imgs/img-cabecalho.jpg) no-repeat;
    background-size: cover;
    background-position: center 68px;
    box-sizing: border-box;
    
   

    
    .cabecalho-top{
        height: 67px;;     
        background-color: #fff;
        padding: 0 10%;
        border-top: solid 4px #2d3f51;

        .logo{
            position: relative;
            width: 15%;
            min-width: 200px;;
            float: left;
            margin-top: 7px;
            
    
            img{
                width: 100%;
    
            }
        }

        .menu{
            float: right;
            width: 75%;

            li{
                display: inline-block;
                list-style: none;
                margin: 18px 7px;

                a{
                    text-decoration: none;
                    color: #526a82;
                    text-transform: uppercase;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    padding-top: 22px;
                    font-size: 14px;
                    
                    &:hover{
                        border-top: solid #f47933 4px;
                        color: #f47933;
                    }
                }

                input[type=search] {
                    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
                    width: 150px;
                    background-color: #01c0b5;
                    border-radius: 20px;
                    padding: 5px 5px 5px 30px;
                    color: #fff !important;
                    transition: .5s;
                    outline: none;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: uppercase;

                    // &:focus{
                    //     width: 200px;
                    //     transition: .5s;
                    // }
                }
            }
        }

        
    }

    .caixa-texto{
        width: 40%;
        margin: 150px auto 0 auto;
        padding: 50px;
        background-color: rgba($color: #d88355, $alpha: .7);
        color: #fff;
        text-align: center;
        line-height: 1.5;

        h1{
            font-size: 40px;
            font-family: $paragrafos;
            text-transform: capitalize;

        }
        p{
            @include paragrafos-padrao;
            color: #fff !important;
            font-size: 20px !important;
        }
    }

    .cetas{
        width: 100%;
        // border: 1px solid #fff;
        position: absolute;
        top: 300px;

        .btleft{
            float: left;
            background-color: #000;
            color: #fff;
            font-size: 40px;
            padding: 5px;
            cursor: pointer;
        }
        .btrigth{
            float: right;
            color: #fff;
            background-color: #000;
            font-size: 40px;
            padding: 5px;
            cursor: pointer;
        }
    }

    .bullets{
        text-align: center;
        margin-top: 90px;

        :first-child{
            background-color:#f47933;
        }

        li{
            width: 40px;
            height: 10px;
            background-color: #fff;
            display: inline-block;
            margin: 5px;
        }
    }
}

// ----------------------------------------------------------------------------------
// Agencia-----------------------------------------------

.agencia{
    padding: 70px 0 30px 0;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
        h2{
        @include titulos-padrao;            
        }
        p{
            @include paragrafos-padrao;
        }
}

// ------------------------------------------------------------------------------------------
// Especialidades--------------------------------------------------------------------

.especialidades{
background-color: #f5f5f5;
text-align: center;
padding: 79px 10%;
#titulo{
    @include titulos-padrao();
    width: 100% !important;
    border: none !important;
}

    .titulo-card{
        border: none !important;
        @include titulos-padrao;
        color: #2d3f51 !important;
        
    }
    h3{
        color: #526a82 !important;
        @include paragrafos-padrao;
    }
    p{
        @include paragrafos-padrao();
    }

    .container-cards-especialidades{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 33% 33% 33%;
        padding: 50px 0;

        .card-especialidade{
            width: 100%;           

            .caixa-img-01{
                height: 200px;
                background: url(../imgs/img-exemplo.png) no-repeat;
                background-size: 100% 100%;;
            }
            .caixa-img-02{
                height: 200px;
                background: url(../imgs/experimente.png) no-repeat;
                background-size: 100% 100%;;
            }
            .caixa-img-03{
                height: 200px;
                background: url(../imgs/perfeicao.png) no-repeat;
                background-size: 100% 100%;;
            }
        }
    }
   

    
}
// :--------------------------------------------------------
// Curiosidades

.curiosidades{
    background-image: url(../imgs/img-curiosidades-fundo.jpg);
    background-attachment: fixed;
    padding: 2% 10%;
    text-align: center;
    h2{
        @include titulos-padrao;
        width: 100% !important;
        border: none !important;
        color: #fff !important;
    }
    ul{
        
        // border: solid;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 20px;;
            color: #fff;
            span{

                color: #01c0b5;
                @include titulos-padrao;
                border: none !important;
                font-size: 40px !important;
            }
            p{
                @include paragrafos-padrao;
                color: #fff !important;
                text-transform: uppercase;
                font-weight: 200 !important;
            }

        }
    }
}

// --------------------------------------------------------------------------------
// Equipe
.equipe{
text-align: center;
padding-top: 85px;


    h2{
        @include titulos-padrao;
    }
    p{
        @include paragrafos-padrao;
    }
    .caixa-menbros-equipe{
        padding: 60px 10%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        background-color: #f5f5f5;

        .card-equipe{
            width: 100%;
            height: 250px;
            position: relative;
            border: 1px solid #ccc;
            box-sizing: border-box;

            &:hover > .foto > .anima-foto{
                width: 100%;
                height: 100%;
                transition: .3s;
                transform: rotate(360deg);
                color: rgba($color: #fff, $alpha: 1);
                padding: 25%;
            }
            &:hover > .foto > .anima-foto > .btn-member-perfil{                
                opacity: 1;
                background-color: rgba($color: #f47933, $alpha: 1);
            }

            &:hover > .nome{
                background-color: #f47933;
                color: #fff;
            }

            .foto{
                height: 85%;
                width: 100%;
                position: relative;
                // background: url(../imgs/img-member-equipe-02.jpg) no-repeat;
                box-sizing: border-box;
                
                

                .anima-foto{
                    width: 0%;
                    height: 0%;
                    background-color: rgba($color: #293745, $alpha: .8);
                    position: relative;
                    margin: 0 auto;
                    transition: .3s;
                    color: rgba($color: #fff, $alpha: 0);        
                    transform: rotate(0deg);
                    box-sizing: border-box;
                    padding: 0;
                    
                    .btn-member-perfil{
                        padding: 10px;
                        background-color: rgba($color: #f47933, $alpha: 0) ;
                        color: #fff;
                        opacity: 0;
                        cursor: pointer;
                        margin: 10px;
                    }
                   
                    

                    
                }
            }

            .nome{
                height: 15%;;
                width: 100%;
                bottom: 0;
                position: absolute;
                background-color: #fff;
                color: #293745;
                text-transform: uppercase;
                font-family: $titulos-secoes;
                

                h4{
                    line-height: 2;
                }
            }
        }

        .foto-01{
            background: url(../imgs/img-member-equipe-01.jpg) no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }

        .foto-02{
            background: url(../imgs/img-member-equipe-02.jpg) no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }

        .foto-03{
            background: url(../imgs/img-member-equipe-03.jpg) no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }

        .foto-04{
            background: url(../imgs/img-member-equipe-04.jpg) no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
    }
}

// ----------------------------------------------------------------------------------------------
// Servicos-----------------------------------------

.servicos{
    text-align: center;

    .titulo-sevico{
        @include titulos-padrao;
    }

    .paragrafo-servico{
        @include paragrafos-padrao;
    }

    

        .container-cards-servico{
            padding: 70px 10%;

            display: grid;
            grid-gap: 15px;
            grid-template-columns: 24% 24% 24% 24%;
            background: url(../imgs/img-fundo-container-cards.jpg) no-repeat;
            background-size: 100% 100%;
    
           .card-servico{
                text-align: center;
                background-color: #fff;
    
                .cabecalho-card-servico{
                    padding: 20px;
                    background-color: #e04646;
                    
    
                    img{
                        width: 120px;
                        height: 100px;;
                    }
                }
    
                .descricao-card-servico{
                    color: #fff;
                    font-family: $titulos-secoes;
                    font-weight: 300;
                }
            }
    
            .corpo-card-servico{
                padding:15px;

                p{
                    font-family: $paragrafos;
                    font-size: 14px;
                }
                h2{
                    font-family: $titulos-secoes;
                    color: #2d3f51;
                    font-weight: 300;
                    text-transform: uppercase;
                }
    
                .lista-servicos-oferecidos{
                    li{
                        padding: 5px;
                        border-bottom: 1px solid;
                        list-style: none;
                        font-family: $titulos-secoes;
                        text-transform: capitalize;
                        color: #2d3f51;
                    }
                }
                button{
                    margin: 20px;
                    padding: 10px 20px;;
                    background-color: #e04646;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
    
                }
    
            }
    
            .card-02{
                .cabecalho-card-servico{
                    background-color: #0091cd;
                }
                button{
                    background-color: #0091cd;
                }
            }
    
            .card-03{
                .cabecalho-card-servico{
                    background-color: #00ad45;
                }
                button{
                    background-color: #00ad45;
                }
            }
    
            .card-04{
                .cabecalho-card-servico{
                    background-color: #eebb00;
                }
                button{
                    background-color: #eebb00;
                }
            }
    
    
        }
    

    
}

// ---------------------------------------------------------------------------------------------------
// 
.testemunhas{

    .cabecalho-testemunhas{
        padding: 50px 10%;
        text-align: center;

        h2{
            @include titulos-padrao;
        }
        p{
            @include paragrafos-padrao;
        }
    }

    .box-testemunhas-grid{       
        padding: 50px 10%;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #f5f5f5;

        .card-testemunha{
            position: relative;
            margin: 20px 0;
            
            img{
                width: 100px;
                height: 100px;
                border-radius: 100%;
                float: left;
                padding: 0 30px;
               
                
            }
            h3{
                width: 76%;
                font-family: $titulos-secoes;


                span{
                    color: #526a82;
                }
            }
    
            p{
                @include paragrafos-padrao;
                padding: 0 !important;
            }
        }

        
    }
}

// ----------------------------------------------------------------------
// Portfolio------------------------------------------------------------
.portfolio{
    text-align: center;

    .texto-portfolio{
        padding: 40px 0;
    }

    h2{
        @include titulos-padrao;
    }

   p{
    @include paragrafos-padrao;
   }

    .works{
        // box-sizing: border-box;
        ul{
            margin-bottom: 20px;
            li{
                display: inline-block;
                padding: 5px 10px;
                border: solid 3px #ccc;
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;

                 cursor: pointer;
                color: #2d3f51;

                &:hover{
                    color: #d76d33;
                    border: solid 3px #d76d33;
                    box-shadow: 5px 5px #526a82;
                }
               
            }
        }

        

        
    }

        .grid-trabalhos{
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;

            .card-work{
                height: 200px;
                background-size: 100% 100%;
                cursor: pointer;

                .animacao-work{
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    background-color: rgba($color: #445566, $alpha: .8);
                    padding-top: 50px;
                    box-sizing: border-box;
                    opacity: 0;
                    transition: 1s;

                    h3{
                        font-family: $titulos-secoes;
                        text-transform: uppercase;
                        font-size: 22px;
                    }
                    p{
                        font-family: $titulos-secoes;
                        color: #fff;
                        font-size: 20px;
                        font-weight: 600 !important;
                        padding: 0 !important;
                    }
                }

                &:hover > .animacao-work{                 
                    opacity: 1;
                    transition: .5s;
                }
            }

            .work-01{
                background-image: url(../imgs/img-works-01.jpg);
            }
            .work-02{
                background-image: url(../imgs/img-works-02.jpg);
            }
            .work-03{
                background-image: url(../imgs/img-works-03.jpg);
            }
            .work-04{
                background-image: url(../imgs/img-works-01.jpg);
            }
            .work-05{
                background-image: url(../imgs/img-works-02.jpg);
            }
            .work-06{
                background-image: url(../imgs/img-works-03.jpg);
            }
            .work-07{
                background-image: url(../imgs/img-works-01.jpg);
            }
            .work-08{
                background-image: url(../imgs/img-works-02.jpg);
            }
            .work-09{
                background-image: url(../imgs/img-works-03.jpg);
            }
            .work-10{
                background-image: url(../imgs/img-works-01.jpg);
            }

            
        }
     
    
}

// =----------------------------------------------------------------------------------
// Clientes-----------------------------------------------------
.clientes{
    text-align: center;
    padding: 40px 10% 40px 10%;
    background-color: #f5f5f5;
    h2{
        @include titulos-padrao;
        width: 43% !important;
    }
    ul{
        margin-top: 20px;
        display: flex;

        li{
            width: 300px;
            height: 80px;
            display: inline-block;          
            margin: 5px; 
            background-size: 100% 100%;         
        }

        .cliente-01{
            background-image: url(../imgs/cliente-01.jpg);              
        }
        .cliente-02{
            background-image: url(../imgs/cliente-02.jpg);              
         }
         .cliente-03{
            background-image: url(../imgs/cliente-03.jpg);              
        }
        .cliente-04{
            background-image: url(../imgs/cliente-04.jpg);              
        }
        .cliente-05{
            background-image: url(../imgs/cliente-05.jpg);              
        }
        .cliente-06{
            background-image: url(../imgs/cliente-06.jpg);              
        }
    
    }
}

// -----------------------------------------------------------------------------------
// Posts

.blog{
    padding: 50px 10%;
    text-align: center;

    .top-blog{
        padding: 20px;
        h2{
            @include titulos-padrao;
        }
        p{
            @include paragrafos-padrao;
        }
    }

    .container-posts{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 10px;

        .posts{
            height: 250px;

            .img-post{
                height: 50%;
                background-size: 100% 100%;
            }

            .previa-post{
                height: 50%;
                text-align: left;
                padding: 15px;
                box-sizing: border-box;
                background-color: #333;

                h2{
                    font-size: 15px;
                    margin-bottom: 5px;
                    color: #fff;
                }
                p{
                    font-size: 15px;
                    color: #ccc;
                }
                a{
                    float: right;
                    color: #d76d33;
                    font-size: 15px;
                }
            }
        }

        .img-post-01{
            background-image: url(../imgs/post-img-01.jpg);
        }
        .img-post-02{
            background-image: url(../imgs/post-img-02.jpg);
        }
        .img-post-03{
            background-image: url(../imgs/post-img-03.jpg);
        }
        .img-post-04{
            background-image: url(../imgs/post-img-04.jpg);
        }
    }
}

// ----------------------------------------------------------------------------------------------------
// Contato---------------------------------------------------------------------------------
.contato{
    text-align: center;

    .top-contato{
        padding: 40px;
        h2{
            @include titulos-padrao;
        }

        p{
            @include paragrafos-padrao;
        }
    }
    .meios-contato{
        padding: 10%;
        background-image: url(../imgs/img-fundo-contato.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        

        p{
            color: #fff !important;
            @include paragrafos-padrao;
            font-size: 30px !important
        }
        .number{
            width: 20%;
            color: #000 !important;
            background-color: rgba($color: #fff, $alpha: .5);
            padding: 10px 100px;
            margin: 0 auto;
        }
    }

    .form{
        padding: 100px 20% 20px 20%;
       
        

        form{
            display: flex;
            margin: 50px;
            color: #526a82;
            font-family: $paragrafos;
            text-transform: inherit;
            font-size: 16px;
            
            
            

            .inputs{
                text-align: left;
                width: 50%;
                margin: 10px;
                font-size: 24px;

                label{
                    font-size: 24px;
                    
                }
                input{
                    width: 100%;
                    height: 50px;
                    border: solid 1px #ccc;
                    font-size: 24px;
                    box-sizing: border-box;
                    padding: 10px;
                }

                #input-check{
                    width: 27px;
                    display: inline-block;
                    height: 30px;
                    margin-top: 30px;
                }
                .frese-do-checkbox{
                    display: inline-block;
                    font-size: 25px;
                    @include paragrafos-padrao();
                }
            }

            

            .textarea{
                width: 50%;
                margin: 10px;
                text-align: left;
                label{
                    font-size: 24px;
                    
                }
                
                textarea{
                    width: 100%;
                    height: 170px;;
                    border: solid 1px #ccc;
                    font-size: 24px;
                    box-sizing: border-box;
                    padding: 10px;
                }

                input{
                    cursor: pointer;
                    width: 100%;
                    height: 50px;
                    font-size: 40px;
                    color: #fff;
                    background-color: #d76d33;
                    transition: .2s;

                    &:hover{
                        background-color: #2d3f51;
                    }
                }
            }

        }

       

        
    }
}

// -------------------------------------------------------------------------------------
// Rodape-------------------------------------------------------------------------------
.rodape{
border:solid;
background-color: #2d3f51;
padding: 30px 20%;

    .list{

        .item-list{
            display: inline-block;
            height: 40px;
            margin-left: 70px;

            i{
                color: #fff;
            }

            img{
                height: 20px;
            }

            span{
                color: #fff;
                font-size: 16px !important;
                font-family: $paragrafos;
            }

            li{
                display: inline-block;
                margin: 10px;
            }
        }
    }

    
}

@media(max-width: 859px){
    .contato .form {
        padding: 2%;

        
    }

    .clientes ul {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50% 50%;

        li{
            width: 100%;
        }

    }
}

@media(min-width: 1200px){
    .icon-hamburger{
        display: none;
    }
}


// trabalhando o responsivo----------------------------------------------------------------
@media(max-width: 1200px){
    .menu{
        display: none;
    }
    .icon-hamburger{
        display: block;
        float: right;
        margin: 12px;
    }
   

    .especialidades .container-cards-especialidades {
        grid-template-columns: 50% 50%;
    }

    .curiosidades ul li{
        display: block;
    }

    .equipe .caixa-menbros-equipe{
        grid-template-columns: 50% 50%;
    }

    .servicos .container-cards-servico{
        grid-template-columns: 50% 50%;
    }

    .testemunhas .box-testemunhas-grid{
        grid-template-columns: 100%;
    }

    .portfolio .grid-trabalhos {
        grid-template-columns: 50% 50%;
    }
    .blog .container-posts{
        grid-template-columns: 50% 50%;
    }

    .contato .form form {
        display: block;
    }
    .contato .form form .inputs {
        width: 100%;  
    }
    .contato .form form .textarea {
        width: 100%;
    }
}

@media(max-width: 500px){
    .cabecario .caixa-texto {
        margin: 60px auto 0 auto;
    }

    .cabecario .bullets {
        margin-top: 28px;
    }
    .menu{
        display: none;
    }

    .especialidades .container-cards-especialidades {
        grid-template-columns: 100%;
    }

    .curiosidades ul li{
        display: block;
    }

    .equipe .caixa-menbros-equipe{
        grid-template-columns: 100%;
    }

    .servicos .container-cards-servico{
        grid-template-columns: 100%;
    }

    .testemunhas .box-testemunhas-grid{
        grid-template-columns: 100%;
    }

    .testemunhas .box-testemunhas-grid .card-testemunha img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        float: none;
        padding: 0 79px;
    }

    .portfolio .grid-trabalhos {
        grid-template-columns: 100%;
    }
   
    .blog .container-posts{
        grid-template-columns: 100%;
    }

    .contato .meios-contato p {
        font-size: 20px !important;
    }

    .contato .form {
        padding: 0;
    }

    .contato .form form {
        display: block;
    }
    .contato .form form .inputs {
        width: 100%;  
    }
    .contato .form form .textarea {
        width: 100%;
    }

    .rodape .list .item-list {
        margin-left: 0;
    }
}